sample/src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="76b8f88e-f117-4d8b-893c-23550fada71c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="51464261-08e6-4456-a683-1cf470458762" >
		<http:listener doc:name="Listener" doc:id="1c9aeb11-9404-4ebd-80c3-3b689fa93fcc" config-ref="HTTP_Listener_config" path="name"/>
		<set-payload value='#["hi"]' doc:name="Set Payload" doc:id="ba4a7789-8157-4285-86c4-88480d969129" />
		<logger level="INFO" doc:name="Logger" doc:id="5b670837-a465-44e0-85bf-584e52fdc057" message='"flow end logger"'/>
	</flow>
</mule>
